body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 0.8px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
}

h1 {
    font-size: 70px;
    font-weight: 500;
}

p.subtitle {
    font-size: 40px;
    font-weight: 300;
}

.banner {
    position: absolute;
    width: 100%;
    top: 25%;
    color: #fff;
    text-align: center;
}

#home {
    background-color: #1b2b42;
    background-image: url('./IMG_0855.jpg');
}

#home:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .6;
    background-color: #1b2b42;
}

/*
 * Zoom animation
 */

 span.subtitle-carousel {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 251px;
}
span.subtitle-carousel span {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}
span.subtitle-carousel span.visible {
    position: relative;
}

span.subtitle-carousel {
    perspective: 300px;
}
span.carousel-word {
    opacity: 0;
}
span.carousel-word.visible {
    opacity: 1;
    animation: zoom-in 0.8s;
}
span.carousel-word:not(.visible) {
    animation: zoom-out 0.8s;
}

@keyframes zoom-in {
    0% {
      opacity: 0;
      transform: translateZ(100px);
    }
    100% {
      opacity: 1;
      transform: translateZ(0);
    }
}
@keyframes zoom-out {
    0% {
      opacity: 1;
      transform: translateZ(0);
    }
    100% {
      opacity: 0;
      transform: translateZ(-100px);
    }
}